.hero {
	$hero-background: desaturate(darken($base-accent-color, 15), 30);	
	$hero-color: white;

	background: image-url('bg1.png');
	background-color: $hero-background;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding-bottom: 4rem;

	.hero-logo img {
		//height: 3rem;
    position: relative;
		margin-bottom: 2rem;
    display:inline-block;
    //width:50px;
    //height:50px;
    //line-height:50px;
    border: 7px solid #f5f5f5;
    border-radius: 50%;
    //color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    //background: #464646;
    box-shadow: 0 0 7px #888;
    //font-size:20px;
    //font-weight:bold;
	}

	.hero-inner {
		@include outer-container;
		@include clearfix;
		padding: 3em;
		margin: auto;
		text-align: center;
		color: $hero-color;

		button {
			//@include button(simple, $base-accent-color);
			font-size: 1.25rem;
			outline: none;
		}

		.hero-copy {
			text-align: center;
			
			h1 {
				font-size: 1.75rem;
				margin-bottom: 1rem;

				@include media($large-screen) {
					font-size: 2.25rem;
				}
			}

			p {
				margin: auto;
				margin-bottom: 2.5rem;	
				font-weight: 200;

				@include media($large-screen) {
					font-size: 1.4rem;
					max-width: 40%;
				}
			}
		}
	}
}