#nav-links {
  background: #FFFFFF;
  border-bottom: solid #eaeaea 2px;

  @include media($large-screen){
    padding: 2rem 0;
  }
  
  .grid-items-lines {

    @include outer-container;
    margin: 0 auto;
    
    .grid-item {
      i:nth-of-type(2) {
        font-size: 2.25rem;
      }
      height: 18rem;
      //border-bottom: none;

      h1{
        margin: 0.4em 0;
      }
      p {
        max-width: none;
      }
    }

    .grid-item:nth-of-type(1){
      i:first-of-type {
        color: $green-haze;
      }
    }
    .grid-item:nth-of-type(2){
      i:first-of-type {
        color: $shakespeare;
      }
     } 
    .grid-item:nth-of-type(3){
      i:first-of-type {
        color: $ny-pink;
      }
    }  
    .grid-item:nth-of-type(4){
      i:first-of-type {
        color: $zest;
      }
    }

    @include media($large-screen) {
      text-align: center;
    }
  }
}

/*

section {
  @include outer-container;
  padding: 2rem 0;

  @include media($large-screen) {
    padding: 5rem 0;  
  }
}

#nav-links {
  //padding: 0;
}

.grid-items-lines {
  margin: 0 auto;
  
  @include media($large-screen) {
    text-align: center;
  }
}

.grid-items-lines {
  .grid-item {

    h1{
      margin: 0.4em 0;
    }
    p {
      max-width: none;
    }
  }
}

*/