<header class="masthead life">
  <h1>My Life</h1>
  <div class="intro">
  

    <div id="instafeed"></div>
  </div>
</header>

<section id="life-main">
  <main>
    <article>
      <header>
        <h1>This is a New Post Title</h1>
        <p>September 22nd, 2014</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
        <hr>
      </header>
    </article>
    <article>
      <header>
        <h1>This is a New Post Title</h1>
        <p>September 22nd, 2014</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
        <hr>
      </header>
    </article>
    <article>
      <header>
        <h1>This is a New Post Title</h1>
        <p>September 22nd, 2014</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
        <hr>
      </header>
    </article>
  </main>  
  <aside>
    <h1>Coming Up</h1>
    <article class="coming-up">
      <h1>Song Stuck in My Head</h1>
      <p>Mountain Maddness Airshow in Kalispell Montana at Glacier International Airport</p>
    </article>
    <article class="coming-up">
      <h1>Quote of the Day</h1>
      <p>"Get out of my way, or I'll rumple your bumper!"</p>
      <p>-Sierra Houtz</p>
    </article>
    <article class="coming-up">
      <h1>August 31, 2014</h1>
      <p>Mountain Maddness Airshow in Kalispell Montana at Glacier International Airport</p>
    </article>
    <article class="coming-up">
      <h1>October 12, 2014</h1>
      <p>Our first son, Tyler Weston Houtz, will make his arrival!</p>
    </article>
  </aside>
</section>