<header class="masthead about">
  <h1>About Me</h1>
  <div class="intro"> 

  </div>
</header>
<section>
  <header>
    <h1>
      
    </h1>
  </header>
  <main>
    <h1>My Home's in Montana</h1>
      <p>You'd be hard pressed to find a more beautiful place on planet earth than my hometown, Kalispell, Montana.</p>
      <p>Going up, my father and I spent nearly every weekend of the summer and fall in the incredible Swan Mountains or Glacier National Park as I will one day with my own sons.</p>
    <h1>Saved By the Grace of God</h1>
      <p></p>
    <h1>Web Developer</h1>
      <p>Taking small businesses and organizations from zero to a world class web presence is my specialty.</p>
      <p>Whether it's getting an organization setup with their first website, or building time and money saving business applications, I guide those who partner with me on their web project from the design process all the way through to completion and future planning.</p>
    <h1>Business Saavy</h1>
      <p>My father got me started with my first business in middle through high school&mdash;Steve's Cutting Edge Lawn Service.</p>
      <p>I've been handling customer relations and learning to craft solutions to fit specific needs in the most efficient way possible ever since.</p>
      <p>Years of doing my own books, delivering the goods, and closing the deals, help me appreciate everyday the hard working folks who run independent companies.</p>
  </main>


</section>
