<header class="masthead work">
  <h1>My Work</h1>
  <div class="intro"> 
    <p>I Design and Develop websites and business applications for organizations large and small.</p>
  </div>
</header>
<section>
  <header>
    <h1>
      
    </h1>
  </header>
  <main>

  </main>


</section>
