<div class="hero">
	<div class="hero-inner">
    <a href="#" class="hero-logo">
      <img src="https://s.gravatar.com/avatar/867a9c1350bec93df3fa1bea74a70072?s=200">
		</a>
    <div class="hero-copy">
			<h1>Hello, I'm Steven Houtz</h1>
			<p>and these are the things I love to share...</p>	
		</div>
    <button>About Me</button>
	</div>
</div>